.version-panel {
  background-color: rgb(247, 247, 247);
  position: fixed;
  bottom: 60px;
  width: 100%;
  border-top: 0.5px solid rgb(233, 233, 233);
}

#contextMenuVersions ul {
  border: none !important;
  width: 250px;
}

#contextMenuVersions ul li {
  font-size: 15px;
  font-weight: bold;
  color: lighten(black, 40%);
  padding: 5px 10px;
}

#contextMenuVersions ul li:hover {
  color: rgb(22, 149, 163);
}

#contextMenuVersions ul li.disabled:hover {
  cursor: not-allowed;
  color: lighten(black, 40%);
}
