<div class="version-panel">

  <div class="version-panel-versions-list row nopadding">
    <div class="col-3 nopadding" v-for="version in photo.versions" v-if="!version.deleted">
      <version
        :image-link="version.imageLink"
        :total-earnings="version.totalEarnings"
        :stocks="version.stocks"
        :id="version.id+1"
        :score="version.rating"
        :selectedPhotos="selectedPhotos"
        :selectedVersions="selectedVersions"
        @select-version="select"
        @rate-itself="rate"
        @context-menu-open="setContextVersion">
      </version>
    </div>
  </div>

  <!-- Context menu. -->
  <context-menu ref="contextMenuVersions" id="contextMenuVersions">
    <li
      @click="$router.push('/version-edit/' + $store.getters.selectedPhotos[0] + '/' + $store.getters.selectedVersions[$store.getters.selectedPhotos[0] - 1][0])">
      <i class="fa fa-edit"></i> Edit
    </li>
    <li @click="merge(contextVersion)"><i class="fa fa-code-branch"></i> Merge</li>
    <li @click="compare(contextVersion)"><i class="fa fa-exchange-alt"></i> Compare</li>
    <li @click="remove"><i class="fa fa-recycle"></i> Remove</li>
    <li @click="revert"><i class="fa fa-undo"></i> Revert changes</li>
    <hr>
    <li @click="submit"><i class="fa fa-cloud-upload-alt"></i> Submit</li>
    <li @click="commit"><i class="fa fa-share-alt"></i> Commit changes</li>
  </context-menu>
</div>

