<div class="compare-panel">
  <div class="row">
    <div class="col-6 text-center" style="border-right: 1px solid gray;">
      <img :src="photo.versions[versions[0] - 1].imageLinkFull" class="img-fluid">
    </div>
    <div class="col-6 text-center">
      <img :src="photo.versions[versions[1] - 1].imageLinkFull" class="img-fluid">
    </div>
  </div>
</div>
