<div class="reason" v-if="single && notUndefined">
  <h3>{{ headline }}</h3>
  <p>{{ description }}</p>

  <h4>Decisions</h4>
  <div>
    <button class="btn btn-info" @click="resubmit">Resubmit</button>
    <button class="btn btn-success" @click="edit">Edit</button>
    <button class="btn btn-warning" @click="archive">Archive</button>
  </div>
</div>
