<div class="bottom-panel">
  <!-- Little workaround :-) -->
  <div v-if="$route.name === 'gallery'" class="row nopadding">
    <div v-if="single && $store.getters.photos('gallery')[$store.getters.selectedPhotos[0] - 1].versions.length > 0">
      <version-panel
        class="col-9 nopadding"
        :photo="$store.getters.photos('gallery')[$store.getters.selectedPhotos[0] - 1]"
        :selectedPhotos="selectedPhotos"
        :selectedVersions="$store.getters.selectedVersions[$store.getters.selectedPhotos[0] - 1]">
      </version-panel>
    </div>
  </div>
</div>
