// Import main settings and theme variables.
@import "../../../../main";

// Whole menu container - base element.
.crx-menu {
  position: relative;
  background-color: white;
  border: 0.5px solid rgb(233, 233, 233);
  z-index: 1;
  height: 88px;
  line-height: 48px;
}

// First item in the menu - headline with logo.
.crx-headline {
  padding: 20px 30px 0 0;
  margin: 0;
  font-size: 22px;

  // Todo: add here a logo style.
}

// Menu list with menu items.
.crx-menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.crx-menu-item {
  padding: 20px 30px;
  color: rgb(183, 183, 183);
  font-weight: light;
  font-size: 15px;
  text-transform: uppercase;
  transition: color 0.5s;
  cursor: pointer;
}

.crx-right-menu {
  padding: 20px 30px;
}

.dropdown-item {
  padding: 0 15px;
  font-size: 14px;
}

.div-inline {
  display: inline-block;
}

// Setup all links to stay in one state.
// Todo: create effects for links.
.crx-menu-item:hover, .crx-menu-item:visited, .crx-menu-item:focus {
  text-decoration: none;
}

.crx-menu-item:hover {
  color: darken(rgb(183, 183, 183), 25%);
  transition: color 0.5s;
}

.crx-menu-item.router-link-active {
  color: rgb(22, 149, 163);
}

// Bar icon.
.crx-menu-bar {
  position: absolute;
  right: 50px;
  top: 20px;
}

.crx-btn-default {
  background-color: rgb(22, 149, 163);
  color: white;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.crx-btn-default:focus {
  outline: none;
}

.fa {
  width: 0;
  margin-right: 20px;
}

// The bigger devices like tablets on width, notebooks and monitors.
@media(min-width: 1024px) {
  .crx-menu {
    width: 100%;
  }

  .crx-menu-item {
    float: left;
  }

  .crx-headline {
    float: left;
  }

  // Hide the bar icon.
  .crx-menu-bar {
    display: none;
  }
}
