<div class="crx-menu container-fluid">
  <div class="row">
    <div class="col-7">
      <!-- Headline with logo. -->
      <h1 class="crx-headline">
        <!-- TODO: make logo style in scss file. -->
        <img src="/static/icon.png" style="width: 48px;">
      </h1>
      <ul class="crx-menu-list">
        <router-link tag="li" to="/gallery" class="crx-menu-item">Gallery</router-link>
        <router-link tag="li" to="/edit" class="crx-menu-item">Edit</router-link>
        <router-link tag="li" to="/metadata" class="crx-menu-item">Metadata</router-link>
        <router-link tag="li" to="/submit" class="crx-menu-item">Submit</router-link>
        <router-link tag="li" to="/review" class="crx-menu-item">Review</router-link>
        <!--<router-link to="releases" class="crx-menu-item">Releases</router-link>-->
      </ul>

      <!-- Menu bar icon for mobile devices. -->
      <div class="crx-menu-bar">
        <i class="fa fa-bars"></i>
      </div>
    </div>

    <!-- Right part of the -->
    <div class="crx-right-menu col-5 text-right">
      <button class="btn crx-btn-default" @click="showModal = !showModal">Upload</button>

      <div class="dropdown div-inline">
        <button
          class="btn crx-btn-default dropdown-toggle"
          type="button"
          id="dropdownMenu1"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="true">
          User
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </button>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
          <router-link to="/preferences" class="dropdown-item"><i class="fa fa-cogs"></i> Preferences</router-link>
          <a href="#" class="dropdown-item"><i class="fa fa-credit-card"></i> Subscriptions</a>
          <a href="#" class="dropdown-item"><i class="fa fa-question-circle"></i> Help/Docs</a>
          <a href="#" class="dropdown-item"></a>
          <li role="separator" class="dropdown-divider"></li>
          <a href="#" class="dropdown-item">Logout</a>
        </ul>
      </div>
    </div>

    <!-- Upload modal. -->
    <div class="col-10 offset-1" :style="{
          display: showModal ? 'block' : 'none',
          position: 'absolute',
          top: '200px',
          'z-index': 10,
        }">
      <div class="card">
        <div class="card-heading" style="background: none; padding: 20px 40px;">
          <h4 class="card-title" style="font-size: 23px; font-weight: bold;">Upload</h4>
        </div>
        <div class="card-body" style="padding: 20px 40px; max-height: 50vh; overflow-y: auto; overflow-x: hidden;">
          <upload></upload>
        </div>
        <div class="card-footer text-right">
          <button @click="showModal = false" class="btn btn-info">Close</button>
        </div>
      </div>
    </div>

    <div class="overlay" @click="showModal = !showModal" :style="{
          display: showModal ? 'block' : 'none',
          position: 'absolute',
          top: '0',
          width: '100%',
          height: '100vh',
          opacity: 0.2,
          'z-index': 9,
          'background-color': 'black',
        }"></div>
  </div>
</div>
