// Import the main settings and selected theme variables.
@import "../../../../main";

.photo-metadata-edit-form {
  padding: 15px;
}

.form-control, .keywords.vue-input-tag-wrapper, .form-control:focus {
  padding: 8px 20px;
  font-size: 14px;
  border-width: 0;
  border-color: #cccccc;
  background-color: #eeeeee;
  color: #b8b8b8;
  border-radius: 5px;
  border-style: solid;
  box-shadow: -50px 0px 5px rgba(66, 66, 66, .0);
  text-shadow: 0 0 5px rgba(66, 66, 66, .0);

  .input-tag {
    color: #2d2d2d;
    padding: 5px;
    font-size: 14px;
    background-color: #cbcbcb;
    border: none;

    .remove {
      color: #2d2d2d;
    }
  }
}

select.form-control, select.form-control:focus {
  @extend .form-control;
  border-radius: 37px;
}

.form-control:focus {
  outline: none;
}

.saving-label {
  font-size: 12px;
  vertical-align: middle;
}
