<div class="photo-metadata-edit-form">
  <!-- Render this when just one photo is selected. -->
  <div v-if="single && photo !== undefined">
    <h2 class="row">
      <span class="col-8">Metadata</span>
      <div class="col-4 text-right">
        <button class="btn btn-danger btn-sm" @click="revert"
                :disabled="!$store.getters.isModified(photo.id+1, $store.getters.selectedVersions[photo.id][0])">Revert
        </button>
        <span class="saving-label">SAVED</span>
      </div>
    </h2>

    <!-- Image type select form. -->
    <div class="image-type">

      <!-- Two column layout of the form. -->
      <div class="form-group">
        <select name="image-type" class="form-control" :value="photo.imageType" @change="updateImageType($event)">
          <option>Type of image</option>
          <option value="photo">Photo</option>
          <option value="illustration">Illustration</option>
        </select>
      </div>
    </div>

    <!-- Categories forms - there are subpanels for all stocks. -->
    <div class="categories">
      <h3>Categories</h3>

      <!-- Render subpanels. -->
      <div v-for="(stock, key) in categories">
        <h4>{{ stocks[key] }}</h4>

        <!-- Render category fields. -->
        <div class="form-group" v-for="amount in stock.max">
          <select :name="key + '-' + amount" class="form-control"
                  :value="typeof(category[key]) !== 'undefined' ? category[key][amount-1] : '-'"
                  @change="updateCategories(key, amount, $event)">
            <option value="-">{{ amount || numeral }}</option>

            <!-- Render category options. -->
            <option :value="category.code" v-for="category in stock.categories">{{ category.name }}</option>
          </select>
        </div>
      </div>
    </div>

    <!-- Descriptions forms. -->
    <div class="descriptions">
      <h3>Description</h3>

      <div class="form-group">
        <input type="text" name="headline" id="headline" :value="photo.headline" @input="updateHeadline($event)"
               class="form-control" placeholder="Headline">
      </div>
      <div class="form-group">
        <input type="text" name="caption" id="caption" :value="photo.caption" @input="updateCaption($event)"
               class="form-control" placeholder="Caption">
      </div>
      <div class="form-group">
        <!-- Keywords input - uses vue-input-tag. -->
        <input-tag class="keywords" placeholder="Keywords" ref="keywords"
                   :tags="photo.keywords.slice(0, photo.keywords.length)"
                   :on-change="updateKeywords"></input-tag>
      </div>

      <!-- Location form. -->
      <div class="form-group">
        <input type="text" name="location" id="location" class="form-control" :value="photo.location"
               @input="updateLocation($event)" placeholder="Location">
      </div>
    </div>

    <!-- License selection radio inputs. -->
    <div class="license">
      <div class="form-group row">
        <h4 class="col-12">License</h4>
        <b-form-group class="col-12">
          <b-form-radio-group
            v-model="license"
            :options="[{value: 'commercial', text: 'Commercial'}, {value: 'editorial', text: 'Editorial'}]">
          </b-form-radio-group>
        </b-form-group>
      </div>
    </div>

    <!-- Releases selection. -->
    <div class="releases">
      <div class="row">
        <h4 class="col-12">Release</h4>
        <!-- Todo: Implement releases. -->
      </div>
    </div>

    <!-- Choose explicit categories of photo. -->
    <div class="explicit">
      <div class="row">
        <h4 class="col-12">Explicit</h4>
        <div class="form-group col-6 checkbox-container">
          <b-form-checkbox :checked="photo.explicit.nudity"
                           @change.native="updateExplicit({target: {value: 'nudity', checked: $event.target.checked}})">
            Nudity
          </b-form-checkbox>
        </div>
        <div class="form-group col-6 checkbox-container">
          <b-form-checkbox :checked="photo.explicit.drugs"
                           @change.native="updateExplicit({target: {value: 'drugs', checked: $event.target.checked}})">
            Drugs
          </b-form-checkbox>
        </div>
      </div>
    </div>

    <button class="btn btn-success" @click="sendToSubmit" v-if="$route.name === 'metadata'">Send to submit</button>
  </div>

  <!-- Render when many photos are selected. -->
  <div v-else>
    <h2 class="row">
      <span class="col-8">Metadata</span>
      <div class="col-4 text-right">
        <button class="btn btn-danger btn-sm" disabled>Revert</button>
        <span class="saving-label">SAVED</span>
      </div>
    </h2>

    <!-- Image type select form. -->
    <div class="image-type">

      <!-- Two column layout of the form. -->
      <div class="form-group">
        <select name="image-type" class="form-control" disabled>
          <option>Type of image</option>
          <option value="photo">Photo</option>
          <option value="illustration">Illustration</option>
        </select>
      </div>
    </div>

    <!-- Categories forms - there are subpanels for all stocks. -->
    <div class="categories">
      <h3>Categories</h3>

      <!-- Render subpanels. -->
      <div v-for="(stock, key) in categories">
        <h4>{{ stocks[key] }}</h4>

        <!-- Render category fields. -->
        <div class="form-group" v-for="amount in stock.max">
          <select :name="key + '-' + amount" class="form-control" disabled>
            <option value="-">{{ amount || numeral }}</option>

            <!-- Render category options. -->
            <option :value="category.code" v-for="category in stock.categories">{{ category.name }}</option>
          </select>
        </div>
      </div>
    </div>

    <!-- Descriptions forms. -->
    <div class="descriptions">
      <h3>Description</h3>

      <div class="form-group">
        <input type="text" name="headline" disabled
               class="form-control" placeholder="Headline">
      </div>
      <div class="form-group">
        <input type="text" name="caption" disabled
               class="form-control" placeholder="Caption">
      </div>
      <div class="form-group">
        <!-- Keywords input - uses vue-input-tag. -->
        <input-tag class="keywords" placeholder="Keywords" disabled></input-tag>
      </div>

      <!-- Location form. -->
      <div class="form-group">
        <input type="text" name="location" class="form-control" disabled placeholder="Location">
      </div>
    </div>

    <!-- License selection radio inputs. -->
    <div class="license">
      <div class="form-group row">
        <h4 class="col-12">License</h4>
        <b-form-group class="col-12">
          <b-form-radio-group
            :options="[{value: 'commercial', text: 'Commercial'}, {value: 'editorial', text: 'Editorial'}]">
          </b-form-radio-group>
        </b-form-group>
      </div>
    </div>

    <!-- Releases selection. -->
    <div class="releases">
      <div class="row">
        <h4 class="col-12">Release</h4>
        <!-- Todo: Implement releases. -->
      </div>
    </div>

    <!-- Choose explicit categories of photo. -->
    <div class="explicit">
      <div class="row">
        <h4 class="col-12">Explicit</h4>
        <div class="form-group col-6 checkbox-container">
          <b-form-checkbox>
            Nudity
          </b-form-checkbox>
        </div>
        <div class="form-group col-6 checkbox-container">
          <b-form-checkbox>
            Drugs
          </b-form-checkbox>
        </div>
      </div>
    </div>

    <button class="btn btn-success" disabled v-if="$route.name === 'metadata'">Send to submit</button>
  </div>

  <!-- Todo: Implement form for no photos. -->
</div>
