<div class="init-view">
  <div class="container">
    <h1>Init</h1>

    <p>Lorem ipsum dolor sit amet</p>

    <div class="row">
      <div class="col-6">
        <b-form-checkbox v-model="names">
          Filenames are same as when I submitted them into stocks
        </b-form-checkbox>
      </div>

      <div class="col-6">
        <vue-select
          v-model="stocks"
          multiple
          :options="[{code: 'shutterstock', name: 'Shutterstock'}, {code: 'dreamstime', name: 'Dreamstime'}]"
          label="name">
        </vue-select>
      </div>
    </div>

    <vue2-dropzone
      :options="{url: 'http://localhost:3000/init/upload', autoProcessQueue: false, paramName: 'photo'}"
      id="photos"
      ref="photos">
    </vue2-dropzone>

    <div class="row">
      <div class="col-12">
        <b-form-checkbox v-model="addRaws">
          Include raws
        </b-form-checkbox>
      </div>
    </div>

    <vue2-dropzone
      :options="{url: '/', autoProcessQueue: false}"
      id="raws"
      ref="raws">
    </vue2-dropzone>

    <div class="row">
      <div class="col-6">
        <b-form-checkbox v-model="assignReleases">
          Assign releases
        </b-form-checkbox>
      </div>

      <div class="col-6">
        <b-form-checkbox v-model="releaseNames">
          Filenames of releases are same as on stocks
        </b-form-checkbox>
      </div>
    </div>

    <vue2-dropzone
      :options="{url: '/', autoProcessQueue: false}"
      id="releases"
      ref="releases">
    </vue2-dropzone>

    <div class="text-right">
      <b-button @click="start">Start using Katana!</b-button>
    </div>
  </div>
</div>
