$slider-width: 100%;
$rail-height: 8px;
$knob-shadow: none;
$knob-border: 3px solid #cdcdcd;

@import '~vue-range-slider/dist/vue-range-slider.scss';

.edit-options {
  height: 200vh;
  padding: 15px;
}
