<div class="edit-options">
  <div>
    <!-- todo: add histogram -->
  </div>

  <!-- Todo: make fields as for loop -->
  <!-- Basic -->
  <div>
    <h2 class="row">
      <div class="col-4">Basic</div>
      <div class="col-8 text-right">
        <button class="btn btn-sm btn-danger" @click="reset">Reset</button>
        <button class="btn btn-sm btn-warning" @click="revert">Revert</button>
        <!-- Todo: implement show/hide logic. -->
        <button class="btn btn-sm btn-info" @click="showOriginal">Show original</button>
      </div>
    </h2>

    <!--<div v-for="(value, adjustment) in snapshot" :key="adjustment">
      <div v-if="typeof snapshot[adjustment] === 'Object'">
        <div v-for="(subValue, subAdjustment) in snapshot[adjustment]" :key="adjustment">
          <label>{{ subAdjustment | capitalize }}</label>
          <range-slider
            @change="updateSnapshot"
            v-model="snapshot[adjustment][subAdjustment]"
            min="-50"
            max="50"
            size="0">
          </range-slider>
        </div>

        <hr>
      </div>
      <div v-else>
        <label>{{ adjustment | capitalize }}</label>
        <range-slider
          @change="updateSnapshot"
          v-model="snapshot[adjustment]"
          min="-50"
          max="50"
          size="0">
        </range-slider>

        <hr v-if="['saturation', 'blacks', 'dehaze'].indexOf(adjustment) !== -1">
      </div>
    </div>-->

    <div>
      <label>Tint</label>
      <range-slider
        @change="updateSnapshot"
        v-model="snapshot.tint"
        min="-50"
        max="50"
        size="0">
      </range-slider>
    </div>

    <div>
      <label>Vibrance</label>
      <range-slider
        @change="updateSnapshot"
        v-model="snapshot.vibrance"
        min="-50"
        max="50"
        size="0">
      </range-slider>
    </div>

    <div>
      <label>Saturation</label>
      <range-slider
        @change="updateSnapshot"
        v-model="snapshot.saturation"
        min="-50"
        max="50"
        size="0">
      </range-slider>
    </div>

    <hr>

    <div>
      <label>Exposure</label>
      <range-slider
        @change="updateSnapshot"
        v-model="snapshot.exposure"
        min="-50"
        max="50"
        size="0">
      </range-slider>
    </div>

    <div>
      <label>Contrast</label>
      <range-slider
        @change="updateSnapshot"
        v-model="snapshot.contrast"
        min="-50"
        max="50"
        size="0">
      </range-slider>
    </div>

    <div>
      <label>Highlights</label>
      <range-slider
        @change="updateSnapshot"
        v-model="snapshot.highlights"
        min="-50"
        max="50"
        size="0">
      </range-slider>
    </div>

    <div>
      <label>Shadows</label>
      <range-slider
        @change="updateSnapshot"
        v-model="snapshot.shadows"
        min="-50"
        max="50"
        size="0">
      </range-slider>
    </div>

    <div>
      <label>Whites</label>
      <range-slider
        @change="updateSnapshot"
        v-model="snapshot.whites"
        min="-50"
        max="50"
        size="0">
      </range-slider>
    </div>

    <div>
      <label>Blacks</label>
      <range-slider
        @change="updateSnapshot"
        v-model="snapshot.blacks"
        min="-50"
        max="50"
        size="0">
      </range-slider>
    </div>

    <hr>

    <div>
      <label>Clarity</label>
      <range-slider
        @change="updateSnapshot"
        v-model="snapshot.clarity"
        min="-50"
        max="50"
        size="0">
      </range-slider>
    </div>

    <div>
      <label>Dehaze</label>
      <range-slider
        @change="updateSnapshot"
        v-model="snapshot.dehaze"
        min="-50"
        max="50"
        size="0">
      </range-slider>
    </div>

    <hr>

    <div>
      <label>Sharpening</label>
      <range-slider
        @change="updateSnapshot"
        v-model="snapshot.sharpening.level"
        min="-50"
        max="50"
        size="0">
      </range-slider>
    </div>

    <div>
      <label>Detail</label>
      <range-slider
        @change="updateSnapshot"
        v-model="snapshot.sharpening.detail"
        min="-50"
        max="50"
        size="0">
      </range-slider>
    </div>

    <div>
      <label>Radius</label>
      <range-slider
        @change="updateSnapshot"
        v-model="snapshot.sharpening.radius"
        min="-50"
        max="50"
        size="0">
      </range-slider>
    </div>

    <div>
      <label>Noise reduction</label>
      <range-slider
        @change="updateSnapshot"
        v-model="snapshot.noiseReduction.level"
        min="-50"
        max="50"
        size="0">
      </range-slider>
    </div>

    <div>
      <label>Detail</label>
      <range-slider
        @change="updateSnapshot"
        v-model="snapshot.noiseReduction.detail"
        min="-50"
        max="50"
        size="0">
      </range-slider>
    </div>

    <hr>

    <div>
      <label>Lens correction</label>
      <input type="checkbox" @change="updateSnapshot" v-model="snapshot.lensCorrection">
    </div>
  </div>

  <button class="btn btn-success" @click="sendToMetadata" v-if="$route.name === 'edit'">Send to metadata</button>
  <button class="btn btn-success" @click="resubmit" v-if="$route.name === 'review-edit'">Resubmit</button>
</div>
