<div class="edit fadeIn animated container-fluid">
  <div class="row">
    <div v-if="$route.name === 'edit'" class="col-9 nopadding">
      <canvas-panel
        :photo="$store.getters.photos('edit')[$store.getters.selectedPhotos[0] - 1]"
        :showOriginal="this.$store.getters['editModule/showOriginal']">
      </canvas-panel>

      <photo-film-panel :photos="$store.getters.photos('edit')"></photo-film-panel>
    </div>

    <div v-if="$route.name === 'single-edit' || $route.name === 'review-edit'" class="col-9">
      <canvas-panel
        :photo="$store.getters.photos('all')[$route.params.id - 1]"
        :showOriginal="this.$store.getters['editModule/showOriginal']">
      </canvas-panel>
    </div>

    <div v-if="$route.name === 'version-edit'" class="col-9">
      <canvas-panel
        :photo="$store.getters.photos('all')[$route.params.photoId - 1].versions[$route.params.versionId - 1]"
        :showOriginal="this.$store.getters['editModule/showOriginal']">
      </canvas-panel>
    </div>

    <crx-right-wrapper
      class="col-3 nopadding"
      :stocks="$store.getters.getStocks"
      :presets="$store.getters['submitModule/presets']">
    </crx-right-wrapper>
  </div>
</div>
