@import '../../../../main';

.gallery-photo-cover:nth-child(4n+0) .gallery-photo {
  border-right: none;
}

.gallery-photos-list .row:nth-child(n+1) .gallery-photo {
  border-top: none;
}

.gallery-photos-list {
  padding: 0 !important;
  padding-bottom: 100px !important; // Height of the FilterAssignPanel
  height: 100vh;
  overflow: auto;
}

#contextMenu ul {
  border: none !important;
  width: 250px;
}

#contextMenu ul li {
  font-size: 15px;
  font-weight: bold;
  color: lighten(black, 40%);
  padding: 5px 10px;
}

#contextMenu ul li:hover {
  color: rgb(22, 149, 163);
}

.fa {
  color: lighten(black, 60%);
  width: 0;
  margin-right: 25px;
}
