<div class="gallery row nopadding fadeIn animated">

  <div class="gallery-photos-list col-9">

      <div v-if="!compare">
        <!-- This mechanism is needed to have just 4 photos in one row. -->
        <div class="row nopadding" v-for="i in Math.ceil(galleryPhotos.length / 4)">

          <!-- This renders just one batch (4 photos). -->
          <div class="col-3 nopadding gallery-photo-cover"
               v-for="(photo, key) in galleryPhotos.slice(i*4 - 4, i*4)">
            <gallery-photo
              galleryName="gallery"
              :image-link="photo.imageLink"
              :total-earnings="photo.totalEarnings"
              :stocks="photo.stocks"
              :id="photo.id+1"
              :score="photo.rating"
              :selectedPhotos="$store.getters.selectedPhotos"
              :modifications="photo.modifications"
              @select-photo="galleryPhotoSelect"
              @rate-itself="galleryPhotoRate">
            </gallery-photo>
          </div>
        </div>
      </div>

    <div v-if="compare" class="text-center">
      <button @click="cancelCompare" class="btn btn-info">Cancel compare</button>
        <compare-panel
          :versions="versionsToCompare"
          :photo="$store.getters.photos('all')[$store.getters.selectedPhotos[0] - 1]">
        </compare-panel>
      </div>

    <!-- Context menu. -->
    <context-menu ref="contextMenu" id="contextMenu">
      <li @click="$router.push('/single-edit/' + $store.getters.selectedPhotos[0])"><i class="fa fa-edit"></i> Edit</li>
      <li @click="removePhoto"><i class="fa fa-recycle"></i> Remove</li>
      <li @click="revertPhotos"><i class="fa fa-undo"></i> Revert changes</li> <!-- Todo: implement revert here. -->
      <hr>
      <li @click="toggleModal"><i class="fa fa-cloud-upload-alt"></i> Submit selected</li>
      <li @click="commitChanges"><i class="fa fa-share-square"></i> Commit changes</li>
      <li @click="createNewVersion"><i class="fa fa-code-branch"></i> Create a new version</li>
      <hr>
      <li
        @click="downloadLatest($store.getters.photos('gallery')[$store.getters.selectedPhotos[0] - 1].filenameId)">
        <i class="fa fa-cloud-download-alt"></i> Download latest
      </li>
      <li
        @click="downloadRaw($store.getters.photos('gallery')[$store.getters.selectedPhotos[0] - 1].filenameId)">
        <i class="fa fa-camera-retro"></i> Download Raw
      </li>
    </context-menu>

    <filter-assign-panel
      class="col-9"
      :selectedPhotos="$store.getters.selectedPhotos"
      :allPhotos="$store.getters.photos('gallery')"
      @rate="filterAssignPanelRate"
      @updateSort='updateSort'>

    </filter-assign-panel>
    <bottom-wrapper class="col-9 nopadding">
    </bottom-wrapper>
  </div>

  <div class="col-10 offset-1" :style="{
        display: showModal ? 'block' : 'none',
        position: 'absolute',
        top: '200px',
        'z-index': 10,
      }">
    <div class="card">
      <div class="card-heading" style="background: none; padding: 20px 40px;">
        <h3 class="card-title" style="font-size: 23px; font-weight: bold;">Submit selected</h3>
      </div>
      <div class="card-body" style="padding: 20px 40px; max-height: 50vh; overflow-y: auto; overflow-x: hidden;">
        <submit-options
          @changedOptions="updateSubmitOptionsInStore"
          @savedPreset="saveSubmitOptionsPresetInTheStore"
          :stocks="$store.getters.getStocks"
          :presets="$store.getters['submitModule/presets']">
        </submit-options>
      </div>
      <div class="card-footer text-right">
        <button @click="showModal = false" class="btn btn-info">Close</button>
      </div>
    </div>
  </div>

  <div class="overlay" @click="showModal = !showModal" :style="{
          display: showModal ? 'block' : 'none',
          position: 'absolute',
          bottom: 0,
          width: '100%',
          height: '100vh',
          opacity: 0.2,
          'z-index': 9,
          'background-color': 'black',
        }"></div>

  <crx-right-wrapper class="col-3"></crx-right-wrapper>
</div>
