<div class="submit-options">
  <h3>Stocks</h3>
  <div class="form-group" v-for="(stock, key) in stocks">
    <b-form-checkbox v-model="selectedStocks[key]">
      {{ stock }}
    </b-form-checkbox>
  </div>

  <div class="form-group">
    <button class="btn btn-success" @click="submit">Submit</button>
  </div>
</div>
