// Todo: import the main scss file.

.crx-right-panel {
  background-color: rgb(247, 247, 247);
  border: 0.5px solid rgb(233, 233, 233);
  height: 100vh;
  margin-top: -88px;
  padding-top: 88px;
  overflow-y: auto;
  overflow-x: hidden;
}
