<div class="crx-right-panel">
  <!-- If the route is gallery render a photo metadata panel. -->
  <div v-if="$route.name === 'gallery'">
    <photo-metadata-edit-form
      :selectedPhotos="$store.getters.selectedPhotos"
      :allPhotos="$store.getters.photos('gallery')"
      :categories="$store.getters.getCategories"
      :stocks="$store.getters.getStocks">
    </photo-metadata-edit-form>
  </div>

  <div v-if="$route.name === 'submit'">
    <submit-options
      :stocks="$store.getters.getStocks">
    </submit-options>
  </div>

  <div v-if="$route.name === 'review'">
    <reason
      :photos="$store.getters.photos('review')"
      :selectedPhotos="$store.getters.selectedPhotos">
    </reason>
  </div>

  <div v-if="$route.name === 'metadata'">
    <photo-metadata-edit-form
      :selectedPhotos="$store.getters.selectedPhotos"
      :allPhotos="$store.getters.photos('metadata')"
      :categories="$store.getters.getCategories"
      :stocks="$store.getters.getStocks">
    </photo-metadata-edit-form>
  </div>

  <div
    v-if="$route.name === 'edit' && $store.getters.photos('all')[$store.getters.selectedPhotos[0] - 1] !== undefined">
    <edit-options
      :snapshotStore="$store.getters.photos('all')[$store.getters.selectedPhotos[0] - 1].snapshot">
    </edit-options>
  </div>

  <div v-if="$route.name === 'single-edit' || $route.name === 'review-edit'">
    <edit-options
      :snapshotStore="$store.getters.photos('all')[$route.params.id - 1].snapshot">
    </edit-options>
  </div>

  <div v-if="$route.name === 'version-edit'">
    <edit-options
      :snapshotStore="$store.getters.photos('all')[$route.params.photoId - 1].versions[$route.params.versionId - 1].snapshot">
    </edit-options>
  </div>
</div>
