<div class="filter-panel col-6">
  <div class="row">
    <!-- Part which filters photos by ratings. -->
    <div class="rating col-4">
      <!-- By symbol it filters photo with lower/greater/equal rating. -->
      <!-- Todo: make these symbols like mathematical. -->
      <select v-model="rateSymbol" @click="filterRateSymbol($event)" class="form-control">
        <option value="lowerThan">&lt;=</option>
        <option value="greaterThan">&gt;=</option>
        <option value="equal">==</option>
      </select>

      <star-rating @rate='filterRate' :show-rating="false" :rounded-corners="true"
                   :star-points="[23,2, 14,17, 0,19, 10,34, 7,50, 23,43, 38,50, 36,34, 46,19, 31,17]" :star-size="30"
                   :padding="5"></star-rating>
    </div>

    <!-- Part which filters photos by stocks. -->
    <div class="stocks col-4">
      <div class="btn-group dropup">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
          Filter by stock <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li v-for="(stock, index) in stocks">
            <clickable-select
              :check="checked[index]"
              :name="stock"
              :key="index"
              @update:chosen="filterStocks">
            </clickable-select>
          </li>
        </ul>
      </div>
    </div>

    <!-- Parts which filters photos by status. -->
    <div class="status col-4">
      <div class="btn-group dropup">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
          Filter by status <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li v-for="(status, index) in statuses">
            <clickable-select
              :check="selectedStatuses[index]"
              :name="status"
              :key="index"
              @update:chosen="filterStatus">
            </clickable-select>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
