.dropup .btn {
  background-color: rgb(233, 233, 233);
  color: rgb(142, 142, 142);
  border-radius: 50px;
  border: none;
  padding: 8px 20px;
  font-size: 14px;
  border-width: 0;
  border-color: #cccccc;
  background-color: #eeeeee;
  color: #b8b8b8;
}

.form-control, .form-control:focus {
  width: 60px;
  float: left;
  padding: 8px 10px;
  font-size: 14px;
  border-width: 0;
  border-color: #cccccc;
  background-color: #eeeeee;
  color: #b8b8b8;
  border-radius: 5px;
  border-style: solid;
  box-shadow: -50px 0px 5px rgba(66, 66, 66, .0);
  text-shadow: 0 0 5px rgba(66, 66, 66, .0);
}

select.form-control, select.form-control:focus {
  @extend .form-control;
  border-radius: 37px;
}
