<div class="sort-panel">
  <!-- Sorts photos. -->
  <div class="sort">
    <select v-model="sort" id="sort" class="form-control">
      <option value="none">Don't sort</option>
      <option value="by-date">By date</option>
      <option value="by-ratings">By ratings</option>
    </select>
  </div>
</div>
