<div class="film-panel row nopadding">
  <div v-for="photo in photos" class="col-3 nopadding" v-if="typeof photo !== 'undefined'">
    <gallery-photo
      galleryName="gallery"
      :ratingReadonly="true"
      :image-link="photo.imageLink"
      :total-earnings="photo.totalEarnings"
      :stocks="photo.stocks"
      :id="photo.id+1"
      :score="photo.rating"
      :selectedPhotos="$store.getters.selectedPhotos"
      @select-photo="galleryPhotoSelect">
    </gallery-photo>
  </div>
</div>
