<div
  class="version"
  :class="{'version__selected': isSelected}"
  @click="select"
  @contextmenu.prevent="contextMenu">

  <div :class="['modified', {shown: isModified}]">MODIFIED</div>

  <!-- Photo thumbnail -->
  <div class="version-image-box">
    <img :src="imageLink" class="version-image img-fluid">
  </div>

  <!-- This is under the thumbnail -->
  <div class="version-data">
    <div v-if="stocks && stocks != []">
      <div>
        <!-- Stocks labels -->
        <span v-for="stock in stocks" class="badge" :class="{
          'badge-success': stock.status == 'active',
          'badge-warning': stock.status == 'pending',
          'badge-danger': stock.status == 'rejected' }">
          {{ stock.name }}
        </span>
      </div>
    </div>
  </div>

  <!-- Rating row - here you can see and change current rating of the photo. -->
  <div class="row">
    <div class="col-8 text-center">
      <star-rating
        v-model="myScore"
        ref="rating"
        :show-rating="false"
        :rounded-corners="true"
        :star-points="[23,2, 14,17, 0,19, 10,34, 7,50, 23,43, 38,50, 36,34, 46,19, 31,17]"
        :star-size="30"
        :padding="5">
      </star-rating>
    </div>
    <div class="col-4 text-right earnings">{{ totalEarnings }}</div>
  </div>
</div>
