// Import the main settings and selected theme variables.
@import "../../../../main";

.gallery-photo {
  padding: 20px;
  border: 0.5px solid rgb(233, 233, 233);
  border-left: none;
}

.gallery-photo__selected {
  background-color: rgb(247, 247, 247);
}

.modified {
  margin-top: -10px;
  padding-bottom: 8px;
  color: rgb(22, 149, 163);
  visibility: hidden;
}

.gallery-photo-image {
  height: 150px;
}

.gallery-photo-image-box {
  text-align: center;
}

.modified.shown {
  visibility: visible;
}

.gallery-photo-data {
  padding: 15px 0 10px 0;
}

.gallery-photo-data .badge {
  margin-right: 10px;
}

.earnings {
  padding-top: 10px;
  font-size: 15px;
  color: #444444;
  font-weight: bold;
}
