<div class="filter-assign-panel">
  <div class="row">
    <div class="col-2">
      <span>Raw size: {{ rawSize }}</span>
    </div>

    <div class="col-2">
      <span>Resolution: {{ resolution }}</span>
    </div>

    <sort-panel class="col-2"
                @sortChange="updateSort">
    </sort-panel>

    <filter-panel
      :stocks="$store.getters.getStocks"
      :filters="$store.getters.getFilters"
      @filter="filterPanelFilter">
    </filter-panel>

    <!--<collections-panel
      :collections="$store.getters.getCollections"
      :filters="$store.getters.getFilters"
      @collection-select="collectionsFilter">
    </collections-panel>-->
  </div>
</div>
