<div class="review fadeIn animated container-fluid">
  <div class="row">
    <div class="nopadding gallery-photos-list col-9">
      <div class="container-fluid">
        <div class="row" v-for="i in Math.ceil(photos.length / 4)">
          <div class="nopadding col-3 rejected-photo-cover" v-if="photo !== undefined"
               v-for="(photo, key) in photos.slice((i - 1) * 4, i * 4)">
            <gallery-photo
              galleryName="gallery"
              :ratingReadonly="true"
              :image-link="photo.imageLink"
              :total-earnings="photo.totalEarnings"
              :stocks="photo.stocks"
              :id="photo.id+1"
              :score="photo.rating"
              :selectedPhotos="$store.getters.selectedPhotos"
              @select-photo="galleryPhotoSelect">
            </gallery-photo>
          </div>
        </div>
      </div>
    </div>

    <!-- Context menu. -->
    <context-menu ref="contextMenu" id="contextMenu">
      <li><i class="fa fa-archive"></i> Archive</li>
      <li><i class="fa fa-external-link-alt"></i> Resubmit</li>
    </context-menu>

    <crx-right-wrapper class="col-3"></crx-right-wrapper>
  </div>
</div>
