<div class="collections-panel col-2">
  <!-- Render options for all collections. -->
  <div class="form-group" v-for="(collection, index) in collections">
    <div class="btn-group dropup">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
        Filter by collection <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <!-- All options - don't filter anything and show all photos. -->
        <li>
          <input type="radio" name="collection" id="collection-all" value="all" @click="filterCollection($event)">
          <label for="collection-all">All</label>
        </li>

        <!-- Other collections. -->
        <li>
          <input
            type="radio"
            name="collection"
            :id="'collection-' + collection.code"
            :value="index"
            @click="filterCollection($event)">
          <label :for="'collection-' + collection.code">
            <!-- Todo: Add sum of photos to the badge. -->
            {{ collection.name }}: {{ collection.photos.length }}
          </label>
        </li>
      </ul>
    </div>
  </div>
</div>
