.dropup .btn {
  background-color: rgb(233, 233, 233);
  color: rgb(142, 142, 142);
  border-radius: 50px;
  border: none;
  padding: 8px 20px;
  font-size: 14px;
  border-width: 0;
  border-color: #cccccc;
  background-color: #eeeeee;
  color: #b8b8b8;
}
