<div class="metadata fadeIn animated container-fluid">
  <div class="row">
    <div class="col-9 nopadding">
      <!-- This mechanism is needed to have just 4 photos in one row. -->
      <div class="row nopadding" v-for="i in Math.ceil(photos.length / 4)">

        <!-- This renders one batch (4) of photos. -->
        <div class="nopadding col-3 gallery-photo-cover"
             v-for="(photo, key) in photos.slice((i - 1) * 4, i * 4)">
          <gallery-photo
            galleryName="gallery"
            :image-link="photo.imageLink"
            :total-earnings="photo.totalEarnings"
            :stocks="photo.stocks"
            :id="photo.id+1"
            :score="photo.rating"
            :selectedPhotos="$store.getters.selectedPhotos"
            @select-photo="galleryPhotoSelect"
            :ratingReadonly="true">
          </gallery-photo>
        </div>
      </div>
    </div>

    <!-- Context menu. -->
    <context-menu ref="contextMenu" id="contextMenu">
      <li @click="$router.push('/single-edit/' + $store.getters.selectedPhotos[0])"><i class="fa fa-edit"></i> Edit</li>
      <li @click="removePhoto"><i class="fa fa-recycle"></i> Remove</li>
      <li
        @click="downloadLatest($store.getters.photos('metadata')[$store.getters.selectedPhotos[0] - 1].filenameId)">
        <i class="fa fa-cloud-download-alt"></i> Download latest
      </li>
      <li
        @click="downloadRaw($store.getters.photos('metadata')[$store.getters.selectedPhotos[0] - 1].filenameId)">
        <i class="fa fa-camera-retro"></i> Download Raw
      </li>
      <hr>
      <li @click="sendToEdit"><i class="fa fa-arrow-left"></i> Send back to edit</li>
    </context-menu>

    <crx-right-wrapper class="col-3"></crx-right-wrapper>
  </div>
</div>
